.color-box-1 {
    background-color: rgb(77, 98, 117);
}

.color-box-2 {
    background-color: lightseagreen;
}

.text-white{
    color: #fff;
}

.bar {
    border: 1px white solid;
}

.color-box-3 {
    background-color: white;
}

.bar2 {
    border: 1px black solid;
}

.text-green {
    color: rgb(53, 160, 156);
}