.color-box-1 {
    background-color: rgb(77, 98, 117);
}

.color-box-2 {
    background-color: lightseagreen;
}

.text-white{
    color: #fff;
}

.bar {
    border: 1px white solid;
}

.color-box-3 {
    background-color: white;
}

.bar2 {
    border: 1px black solid;
}

.text-green {
    color: rgb(53, 160, 156);
}

.color-box-4 {
    background-color: rgb(49, 63, 75);
}

.box-icon {
    width: 25px;
    height: 25px;
    border: 1px white solid;
    border-radius: 50px;
    display: inline-block;
    
    
}

.fab {
    vertical-align: middle;
}

@media screen and (max-width: 575px) {

    .box-icon {
        width: 50px;
        height: 50px;
    }


}